* {
    box-sizing: border-box;
}

body {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    background-image: url(./image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    &.theme-summer {
        background-image: url(./image/background_3.png);
        color: #fff;
        background-color: rgb(12, 55, 71);
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

header {
    h1 {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 48px;
        color: rgba(16,24,62,0.8);
    }
    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    header {
        h1 {
            font-size: 30px;
            margin-top: 70px;
        }
    }
}