.social {
    position: fixed;
    left: 20px;
    top: 20%;
    z-index: 10;
    a {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 54px;
        height: 54px;
        margin-bottom: 10px;
        display: block;
        transform: scale(1);
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2);
        }
    }
    .vk {
        background-image: url('image/icons/social/vk.png');
    }
    .tw {
        background-image: url('image/icons/social/twitch.png');
    }
    .in {
        background-image: url('image/icons/social/instagram.png');
    }
    .yt {
        background-image: url('image/icons/social/youtube.png');
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, background-color 0.5s;
}
body.open {
    overflow: hidden;
    .overlay {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 1100px) {
    .social {
        left: 20px;
        top: 20px;
        &.open {
            a {
                height: 60px;
            }
            &::before {
                margin-bottom: 20px;
            }
        }
        a {
            height: 0;
            transition: height 0.5s;
        }
    }
}